
<div class="container m-t-100">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>prix actuel</small>
          <h2 class="m-t-0">2000 €</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>temps restant</small>
          <h2 class="text-danger m-t-0">00:30</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>dernière mise</small>
          <h2 class="m-t-0">user name</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img class="featurette-image img-responsive center-block" src="http://placehold.it/500x400" alt="Generic placeholder image">
            </div>
            <div class="col-md-8">
              <h2>item name</h2>
              <p>This is a template for a simple marketing or informational website.
                It includes a large callout called a jumbotron and three supporting pieces of content.
                Use it as a starting point to create something more unique.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>prix de départ</small>
          <h2 class="m-t-0">1200 €</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>nombre participant</small>
          <h2 class="m-t-0">200</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>+100 €</small>
          <button class="btn btn-block btn-lg btn-danger">miser</button>
        </div>
      </div>
    </div>
  </div>
</div>
